[submodule "src/srcSAX"]
	path = src/srcSAX
	url = https://github.com/srcML/srcSAX.git
[submodule "srcSAX"]
	path = srcSAX
	url = https://github.com/srcML/srcSAX.git
[submodule "srcSAXEventDispatch"]
	path = srcSAXEventDispatch
	url = https://github.com/srcML/srcSAXEventDispatch.git
	branch = master
